<!-- <app-fullpage-scroll> -->
<!-- <div id="fullpage-scroll"></div> -->
<app-detail-section section-content title="JS Full Stack Developer" subheader="Over then 5+ experiance"
    class="bg-custom-gradient-1">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>

        <app-list [items]="frontendItems"></app-list>
    </div>

    <img src="assets/images/avtandil.jpg" alt="avatar" class="md:rounded-lg shadow-xl" content-image>
</app-detail-section>

<app-detail-section section-content class="bg-custom-gradient-2" title="Clone the X.com">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/x_icon.png" alt="avatar" content-image>
</app-detail-section>

<app-detail-section section-content class="bg-custom-gradient-3" title="Clone the ebay.com">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/ebay_icon.png" alt="avatar" content-image>
</app-detail-section>

<app-detail-section section-content class="bg-custom-gradient-4" title="Clone the Google Travel">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/google_travel_icon.png" alt="avatar" content-image>
</app-detail-section>

<app-detail-section section-content class="bg-custom-gradient-6" title="Custom JavaScript App">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/js_icon.png" alt="avatar" content-image>
</app-detail-section>

<app-detail-section section-content class="bg-custom-gradient-5" title="Chat AI with Me">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/chat_ai.jpeg" alt="avatar" class="md:rounded-lg shadow-sm" content-image>
</app-detail-section>
<!-- </app-fullpage-scroll> -->