<app-detail-section title="JS Full Stack Developer" subheader="Over then 5+ experiance" class="bg-custom-gradient-1">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>

        <app-list [items]="frontendItems"></app-list>
    </div>

    <img src="assets/images/avtandil.jpg" alt="avatar" class="md:rounded-lg shadow-xl" content-image>
</app-detail-section>

<app-detail-section class="bg-custom-gradient-2" title="Clone the X.com">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/x_icon.png" alt="avatar" class="" content-image>
</app-detail-section>

<app-detail-section class="bg-custom-gradient-3" title="Clone the ebay.com">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/ebay_icon.png" alt="avatar" class="" content-image>
</app-detail-section>

<app-detail-section class="bg-custom-gradient-4" title="Clone the Google.com">
    <div class="flex space-x-12" list>
        <app-list [items]="backendItems"></app-list>
    </div>

    <img src="assets/images/google_travel_icon.png" alt="avatar" class="" content-image>
</app-detail-section>